
#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.rating-box {
  background-color: aliceblue;
  width: 500px;
  height: fit-content;
  align-self: center;
  border-radius: 25px;
  color: grey;
  font-size: 3rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  
}

.star-container {
  height: fit-content;
  display: flex;
  flex-direction: row;
  

}

.rating-box > p {
  margin: 0%;
  min-height: 40.75px;
  font-size: 1.8rem;
}


.star-container > p {
  cursor: pointer;
  margin: 0%;

}
.star-container > p:hover {
  color: orange;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.isActive {
  color:gold
}



h1 {
 font-size: 2.5rem;
 text-align: center;
 font-weight: 900;
}



.focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.574);
  height: 100%;
  width: 100%;
}



.modal {


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 70%;
  height: 50%;
  max-height: 276.226px;
  background-color: rgb(66, 68, 66);
}


.subButton {
  background-color: rgb(0, 166, 255);
  border: none;
  border-radius: 5px;
  height: auto;
  padding: 1rem;
  font-size: 1.3rem;
  color: aliceblue;
  
}

.subButton:hover {
    background-color: rgb(16, 111, 163);
    cursor: pointer;
  }


  .response {
    font-size: 2rem;
  }