
html,body {
  height: 100%;
  width: 100%;
  margin: 0%;
}
body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


